#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -Dm755 alarm-notify-linux $(CURDIR)/debian/alarm-notify/usr/bin/alarm-notify
	install -Dm644 alarm-notify.png $(CURDIR)/debian/alarm-notify/usr/share/alarm-notify/alarm-notify.png
	install -Dm644 alarm-notify.wav $(CURDIR)/debian/alarm-notify/usr/share/alarm-notify/alarm-notify.wav
	install -Dm644 README.md $(CURDIR)/debian/alarm-notify/usr/share/doc/alarm-notify/README.md
